body {
    margin: 0;
    overflow: hidden;
    height: 100%;
    font-size: 1.4rem;
    line-height: 1.3;
}

div.main-site {
    overflow: hidden;
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, a:hover, a:active, a:visited, a:link {
    color: inherit;
    text-decoration: none;
}

ul {
    margin: 0;

    -webkit-margin-before: 0;
    -moz-margin-before: 0;
    -ms-margin-before: 0;
    -o-margin-before: 0;
    margin-before: 0;

    -webkit-margin-after: 0;
    -moz-margin-after: 0;
    -ms-margin-after: 0;
    -o-margin-after: 0;
    margin-after: 0;

    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    -ms-padding-start: 0;
    -o-padding-start: 0;
    padding-start: 0;
}

button:focus {
    outline: 0;
}

input[type="text"], input[type="password"], input[type="search"] {
    border-radius: 3px;
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="search"]:focus {
    outline: 0;
    border-color: #009fff;
    box-shadow: 0 0 4px #009fff;
}

tr {
    text-align: center;
}

/* theme color */
.hdr-content, section.sidebar, .title-bar {
    background: #efefef;
    background: -webkit-linear-gradient(to bottom, #fafafa, #e6e6e6);
    background: -o-linear-gradient(to bottom, #fafafa, #e6e6e6);
    background: -moz-linear-gradient(to bottom, #fafafa, #e6e6e6);
    background: linear-gradient(to bottom, #fafafa, #e6e6e6);
}
/*--------------*/

.hdr-content {
    padding-left: 2rem;
    padding-right: 0;
    position: relative;
    color: #5e5e5e;
    height: 4rem;
    top: 0;
}

.hdr-brand-wrapper {
    position: absolute;
}

.hdr-title-wrapper {
    position: absolute;
    width: 100%;
    top: .7rem;
    text-align: center;
}

a.hdr-brand-font {
    font-family: Courier;
    font-size: 2.8rem; }

nav.hdr-nav {
    position: relative;
}

ul.hdr-nav-list {
    position: absolute;
    list-style-type: none;
    top: 0.7rem;
    right: 2%;
    text-align: center;
}

ul.hdr-nav-list > li {
    display: inline-block;
}

ul.hdr-nav-list > li.username {
    width: 20rem;
}

ul.hdr-nav-list > li.logout {
    text-align: right
}

ul.hdr-nav-list > li > a {
    font-size: 2rem;
}

.nav-tabs {
    position: absolute;
    height: 4rem;
    width: 100%;
}

ul.tabs {
    list-style-type: none;
}

div.tabs-wrapper {
    position: absolute;
}

ul.tabs > li {
    width: 12rem;
    float: left;
    text-align: center;
    line-height: 4rem;
    border-right: #e8e8e8 1px solid;
    background: #fafafa;
    background: -webkit-radial-gradient(#efefef, #fafafa);
    background: -o-radial-gradient(#efefef, #fafafa);
    background: -moz-radial-gradient(#efefef, #fafafa);
    background: radial-gradient(#efefef, #fafafa);
}

ul.tabs > li:hover {
    cursor: pointer;
}

ul.tabs > li:first-of-type {
    border-left: #e8e8e8 1px solid;
}

ul.tabs > li.active {
    background: #d8d8d8;
}

section.sidebar {
    top: 4rem;
    color: #595959;
    position: absolute;
    z-index: 2;
    overflow: hidden;
    height: inherit;
    bottom: 0;
}

.hdr-content, section.sidebar {
    user-select: none;
}

.sidebar-title {
    padding-left: 1rem;
    margin-bottom: .5rem;
}

.sidebar-list {
    width: 100%;
    padding-right: 1rem;
    height: inherit;
    overflow-y: scroll;
    padding-bottom: 18rem;
}

.sidebar-item {
    padding: .7rem 0 0 2rem;
    display: block;
    height: 3rem;
}

.sidebar-item:hover {
    background: #c8c8c8;
}

.expandable {
    cursor: pointer;
}

.sidebar-sublist{
    display: none;
    padding-left: 2rem;
}

.resizer {
    position: absolute;
    z-index: 3;
    top: 4rem;
    bottom: 4rem;
    width: 3px;
    cursor: col-resize;
}

.form-wrapper {
    top: 20rem;
    padding: 1.6rem;
}    

.search-glyphicon {
    opacity: .65;
    font-size: 1.3rem;
}

.glyphicon-search.search-glyphicon {
    top: -2.3rem;
    left: 1rem;
}

.glyphicon-remove.clear-glyphicon {
    position: absolute;
    font-size: 1rem;
    color: #f8f8f8;
    top: .3rem;
    right: .3rem;
}

#search-input {
    display: block;
    width: 100%;
    border: #d4d4d4 1px solid;
    height: 3rem;
    padding-left: 3rem;
}

#search-clear-btn {
    position: absolute;
    right: 1.9rem;
    top: 1.7rem;
    opacity: .6;
    background: #aaa;
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    padding: 0;
    border: 0;
    display: none;
}

#search-clear-btn:hover {
    opacity: 1;
}

.search-form {
    padding: 1rem 1.2rem 1rem 1.2rem;
    height: 5rem;
}

section.sidebar {
    width: 24rem;
}

section.table-container, section.main-container {
    padding-left: 24rem;
}

nav.nav-tabs, .resizer {
    left: 24rem;
}

section.table-container, section.main-container {
    top: 8rem;
}

.table-wrapper {
    padding: 1rem 2rem 10rem 2rem;
}

table.rsu-table {
    width: 100%;
    height: 100%;
}

table.rsu-table > thead > tr {
    background-color: #dddddd;
}

table.rsu-table td, table.rsu-table th {
    padding: .4rem;
}

table.rsu-table tr:nth-child(even) {
    background-color: #e8e8e8;
}

.main-container {
    position: absolute;
    width: 100%;
    height: inherit;
    background-color: #fcfcfc;
    overflow: scroll;
};

.ops-wrapper {
    padding: 1rem 0 0 7rem;
}

.detail-wrapper {
    padding: 8rem 0 0 8rem;
}

.detail-container {
    height: 100%;
}

#location-map {
    height: 30rem;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

form.upload-form {
    margin-top: 1rem;
    display: none;
}

ul.detail-attr-list {
    list-style: none;
}

ul.detail-attr-list li {
    list-style: none;
    padding-top: 1.5rem;
}

.detail-attr-wrapper {
    width: 49%;
    display: inline-block;
    padding-top: 1.5rem;
    vertical-align: top;
}

.detail-ops-wrapper {
    margin-top: 5rem;
    height: 50%;
}

span.attr {
    display: inline-block;
    width: 15rem;
}

.font-alert {
    color: #FF4444;
    font-weight: bold;
}

.font-pass {
    color: #6dc066;
    font-weight: bold;
}

#refresh-btn {
    vertical-align: top;
    display: inline-block;
}

#piechart {
    display: inline-block;
}